sentence-transformers~=3.2.0
pandas~=2.2.3
mistralai~=1.1.0
watchdog~=5.0.3
streamlit~= 1.39.0
python-dotenv
ipykernel
fire
langchain_mistralai
git+https://github.com/explodinggradients/ragas
langchain-huggingface
nltk
rapidfuzz
matplotlib
einops